.container {
    a {
        text-decoration: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    .contactHeading {
        text-decoration: underline;
        font-style: italic;
    }
    .contacts {
        display: flex;
        flex-direction: column;
    }
}