.container {
    a {
        text-decoration: none;
    }
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    .contactHeading {
        text-decoration: underline;
        font-style: italic;
    }
    .contacts {
        .emailSection {
            margin: 10px 0px;
        }
        .phoneNumber {
            margin: 10px 0px;
        }
        display: flex;
        flex-direction: column;
    }
}